<label>
  New task:
  <input type="text" [formControl]="inputForm">
</label>

<button (click)="submitValue()">Add</button>
<!--<ul>
  <li *ngFor="let todoItem of todoList$ | async"
  >{{ todoItem.task }}</li> //(click)="deleteValue(todoItem)" 
</ul> -->

<form [formGroup]='myForm'>
  <div formArrayName='items'>
    <div *ngFor="let item of itemsArray.controls; let i=index">
      <li> <!-- (click)="logObject(item.value)" -->
        <label> <!-- (click)="deleteValue(todoItem)" -->
          <!-- {{ item.value.task }} -->
          <input type="text" [formControlName]="i" [value]="item.value.task">
        </label>
        <button (click)="logObject(item.value)">Change item</button>
        <button (click)="deleteValue(item.value)">Delete item</button>
      </li>
    </div>
  </div>
</form>
